
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap');
*{
    font-family: 'Akaya Kanadaka', cursive;
}
#instructions{
    
    font-size: medium;
    color: green;
    background-color: red;
    width: inherit;
    height: min-content;
}
#lets_toss{
    background-color: magenta;
    height: 120px;
    width: 320px;
    font-size: large;
}
#lets_toss:hover{
    background-color: green;
}
#start_play1:hover{
    background-color: green;
}
#tossform{
    font-size: 16;
    text-align: center;
    color: indianred;
    background-color: lightgreen;
    padding: 10px;
    margin: 20px;
    
    

}
.forlargebuttons{
    background-color: magenta;
    height: 120px;
    width: 320px;
    font-size: large;
    font-family: 'Akaya Kanadaka', cursive;
}
h1 {
    text-align: center;
    color: magenta;
}

.forbutton {
    font-size: large;
    background-color: red;
    width: 200px;
    height: 60px;
    border-radius: 8px;
    margin: 15px;
    font-family: 'Akaya Kanadaka', cursive;
    
}
#start_play1:hover{
    box-shadow: 0 8px 16px 0 rgba(240, 66, 211, 0.863), 0 6px 20px 0 rgba(240, 66, 211, 0.863);  
}
#runinput1{
    font-size: 30px;
    width: 200px;
    height: 50px;
    text-align: center;
}
#even:hover{
    background-color: rgb(10, 192, 10);
    box-shadow: 0 8px 16px 0 rgba(98, 228, 104, 0.863), 0 6px 20px 0 rgba(98, 228, 104, 0.863);
}
#odd:hover{
    background-color: rgb(10, 192, 10);
    box-shadow: 0 8px 16px 0 rgba(98, 228, 104, 0.863), 0 6px 20px 0 rgba(98, 228, 104, 0.863);
}
#feedback1 {
    text-align: center;
    color: blue;
}
#tossinput {
    text-align: center;
    width: 400px;
}
#runinput1_button{
    width: 200px;
    height: 60px;

}
#runinput1_button:hover{
    background-color: green;
}
.centered {
    text-align: center;
    font-size: large;
}
.standard_div{
    text-align: center;
    font-size: large;
    background-color: red;
    color: green;
    padding: 5px;
    border: 2px solid green;
}
#play_start_button{
    text-align: center;
    font-size: large;
    background-color: red;
    color: green;
    font-family: 'Akaya Kanadaka', cursive;
}
#tossdiv{
    text-align: center;
}
