#instructions{
    
    font-size: medium;
    color: green;
    background-color: red;
    width: inherit;
    height: min-content;
}
#tossform{
    font-size: 16;
    text-align: center;
    color: indianred;
    background-color: lightgreen;
    padding: 10px;
    margin: 20px;
    
    

}
#tossbutton{
    background-color: magenta;
    height: 120px;
    width: 320px;
}