#instructions{
    
    font-size: medium;
    color: green;
    background-color: red;
    width: inherit;
    height: min-content;
}
#tossform{
    font-size: 16;
    text-align: center;
    color: indianred;
    background-color: lightgreen;
    padding: 10px;
    margin: 20px;
    
    

}
.forlargebuttons{
    background-color: magenta;
    height: 120px;
    width: 320px;
    font-size: large;
}
h1 {
    text-align: center;
    color: magenta;
}

.forbutton {
    font-size: medium;
    background-color: red;
    width: 200px;
    height: 60px;
    
    
}
#feedback1 {
    text-align: center;
    color: blue;
}
#tossinput {
    text-align: center;
    width: 400px;
}
.centered {
    text-align: center;
    font-size: medium;
}
#play_start_button{
    text-align: center;
    font-size: large;
    background-color: red;
    color: green;
}
#tossdiv{
    text-align: center;
}
